{% extends 'base.html.twig' %}

{% block title %}New Accueil{% endblock %}

{% block body %}
    <h1>Create new Accueil</h1>

    {{ include('accueil/_form.html.twig') }}

    <a href="{{ path('accueil_index') }}" class='btn btn-primary'>back to list</a>
{% endblock %}